@import url(/css/variables.css);

main {
   display: grid;
   place-items: center;
   align-content: center;
   gap: 3rem;
   margin: 80px 0;
}

.container {
   display: flex;
   flex-direction: column;
   gap: 3em;
   max-width: 30em;
   min-height: fit-content;
   border-radius: 2rem;
   overflow: hidden;
   box-shadow: var(--container-shadow);
   border-top: 3px solid var(--clr-primary);
   border-bottom: 3px solid var(--clr-primary);
   margin: 0 20px;
   padding: 30px 0;
}

.section-heading {
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding-inline: 25px;
}

.section-heading h2 {
   font-family: var(--ff-right);
   letter-spacing: 1px;
   font-size: 2em;
}

.products {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.product-item {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: #efefef;
   margin-inline: 20px;
   padding: 10px 0;
   border-radius: 25px;
}

.product-item img {
   max-width: 35px;
   border-radius: 5px;
   margin-inline: auto;
}

.product-item h2 {
   font-size: 1.25em;
   font-family: var(--ff-toko);
   letter-spacing: 1px;
}

.product-item h3 {
   font-size: 1em;
   opacity: 0.7;
}

.product-item button i {
   color: #000;
   font-size: 2.25em;
}

.product-item button {
   margin: 0 auto;
}

.totalprice-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5em;
   margin-inline: 20px;
}

.cta-purple {
   min-width: 100%;
}

.remove-game {
   width: fit-content;
   border: none;
}

.product-item button i:hover {
   color: var(--clr-primary);
   transition: linear 300ms;
   cursor: pointer;
}

.clear-cart {
   border: none;
   color: #fff;
}

.checkout-buttons {
   display: flex;
   flex-direction: column;
   font-family: var(--ff-toko);
   font-size: 1.25em;
}

.checkout-buttons > * {
   text-decoration: none;
   width: 90%;
}

@media (min-width: 730px) {
   .product-item h2 {
      font-size: 1.5em;
   }

   .product-item img {
      max-width: 50px;
   }

   .totalprice-item,
   .product-item {
      margin-inline: 35px;
   }
}