@import url(/css/variables.css);

main {
   display: grid;
   place-items: center;
   align-content: center;
}

.grid-container {
   max-width: 54rem;
   display: grid;
   grid-template-rows: auto 1fr;
   border-radius: 2rem;
   overflow: hidden;
   box-shadow: var(--container-shadow);
   margin: 80px 20px;
   position: relative;
   background-color: #fff;
   border-top: 2px solid var(--clr-primary);
   border-bottom: 2px solid var(--clr-primary);
}

.image-item {
   margin: 20px auto;
   padding: 0 20px;
   padding-top: 50px;
}

.image-item img {
   max-width: 200px;
   border-radius: 8px;
   box-shadow: 0 0.5em 0.5em -0.4em #000;
   transform: translateY(-0.25em);
}

.product-item {
   padding: 2.5rem;
   display: grid;
   align-content: center;
   gap: 1rem;
   font-size: 1.25em;
   margin: 0 auto;
   justify-items: center;
   text-align: center;
}

.product-item h1 {
   font-family: var(--ff-toko);
   letter-spacing: 1px;
   font-size: 2em;
   text-transform: uppercase;
}

.product-item h2 {
   font-size: 1.3em;
}

.close-button {
   max-width: 30px;
   text-decoration: none;
}

.close-button i {
   font-size: 2em;
   color: #000;
   transition: linear 300ms;
}

.close-button i:hover {
   color: var(--clr-primary);
   transform: translateY(-0.075em);
}

.vertical-line {
   display: none;
}

.add-to-cart {
   outline: none;
   border: none;
}

@media (min-width: 730px) {
   .grid-container {
      grid-template-columns: auto auto 1fr;
      grid-template-rows: 1fr;
      margin: 80px 20px;
      min-height: 50vh;
   }

   .product-item {
      justify-items: normal;
      text-align: left;
   }

   .product-item .close-button {
      position: absolute;
      top: 20px;
      right: 25px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .image-item {
      margin: auto 0;
      padding: 20px 50px;
   }

   .image-item img {
      max-width: 200px;
   }

   .vertical-line {
      border-right: 2px solid #000;
      display: initial;
      margin: 80px 0;
      box-shadow: var(--container-shadow);
   }
}

@media (min-width: 1300px) {
   .image-item img {
      max-width: 250px;
   }

   .grid-container {
      min-height: 52.5vh;
   }
}