@font-face {
   font-family: "Montserrat";
   src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "Toko";
   src: url("/fonts/Teko-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "Righteous";
   src: url("/fonts/Righteous-Regular.ttf") format("truetype");
}

:root {
   /* font-family */
   --ff-mont: "Montserrat", sans-serif;
   --ff-toko: "Toko", "Montserrat", sans-serif;
   --ff-right: "Righteous", "Montserrat", sans-serif;

   /* background */
   --bg-banner: linear-gradient(to right, #a231ca, #4a00e0);
   --bg-light: #c4c4c4;
   
   /* colors */
   --clr-primary: #a231ca;
   --clr-secondary: #4a00e0;

   /* box shadow */
   --container-shadow: 1px -1px 29px 2px rgba(0,0,0,0.2);
}